<div>
	<h2>Import</h2>
	<form action="#" method="POST" data-import-form>
		<div class="form-group">
			<label for="compiled">Compiled Zip File</label>
			<input type="file" name="compiled" id="compiled" />
		</div>
		<div class="form-group">
			<label for="source">Source Zip File</label>
			<input type="file" name="source" id="source" />
		</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 0%">0%</div>
		</div>
		<button class="btn" type="submit">Import starten</button>
	</form>
</div>